<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD4R7MpGWgrcQhq-hW3L27Ez8GXIcQXDiw</string>
	<key>GCM_SENDER_ID</key>
	<string>49257080327</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>be.ehb.ExpertLab-IOS-ScoutingApp-mitchsaah</string>
	<key>PROJECT_ID</key>
	<string>expertlab-ios-scoutingapp</string>
	<key>STORAGE_BUCKET</key>
	<string>expertlab-ios-scoutingapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:49257080327:ios:5d58bacbd5d8b00ee1aca2</string>
</dict>
</plist>